# CMake
build/
CMakeCache.txt
cmake_install.cmake

# clangd
compile_flags.txt

# Build artifacts
output
*.o
CMakeFiles/
__pycache__/

# Documentation
.venv/
docs/_build/

# BrainFuck compiler example
*.bf

# Sample files
a.py
